<br />
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Categoria</h2>
					<div class="brands-name">
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="categoria in categorias"><a href=""> <span
									class="pull-right">({{categoria.totalProdutos}})</span>
									{{categoria.nome}}
							</a></li>
						</ul>
					</div>
					<!--/category-productsr-->

					<div class="brands_products">
						<!--brands_products-->
						<h2>Marcas</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li ng-repeat="marca in marcas"><a href=""> <span
										class="pull-right">({{marca.totalProdutos}})</span>
										{{marca.nome}}
								</a></li>
							</ul>
						</div>
					</div>


				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Lista de Produtos</h2>
					<div class="col-sm-4"
						ng-repeat="produto in produtos | startFrom:currentPage | limitTo:pageSize">
						<a href="#/">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{produto.imagem}}" alt="" />
										<h2>{{produto.precoPromocional}}</h2>
										<p>{{produto.nomeModelo}}</p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>De: R$ {{produto.preco}}</p>
											<h2>Por: R$ {{produto.precoPromocional}}</h2>
											<p>{{produto.nomeModelo}}</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<ul class="pagination">
						<li
							ng-repeat="i in getNumber(numberOfPages(produtos)) track by $index"
							ng-class="{'active': currentPage == $index}"><a href=""
							ng-click="changePage($index)">{{$index+1}}</a></li>
					</ul>
				</div>
				<!--features_items-->
			</div>
		</div>
	</div>
</section>