<br />
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">

					<div class="center-block">
						<button type="button" class="btn btn-default center-block"
							data-toggle="collapse" ng-click="cleanFilter()">
							<span class="fa fa-refresh"></span> Remover Filtro
						</button>
					</div>
					<br/>

					<h2>Departamentos</h2>
					<div class="brands-name">
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="departamento in departamentos"><a href=""
								ng-class="{'active' : departamento.nome == filter.departamento}"
								ng-click="filterByDepartamento(departamento.nome)"> <span
									class="pull-right">({{departamento.totalProdutos}})</span>{{departamento.nome}}
							</a></li>
						</ul>
					</div>
					<br />

					<h2>Categorias</h2>
					<div class="brands-name">
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="categoria in categorias"><a href=""
								ng-class="{'active' : categoria.nome == filter.categoria}"
								ng-click="filterByCategoria(categoria.nome)"> <span
									class="pull-right">({{categoria.totalProdutos}})</span>
									{{categoria.nome}}
							</a></li>
						</ul>
					</div>
					<br />

					<div class="brands_products">
						<h2>Marcas</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li ng-repeat="marca in marcas"><a href=""
									ng-class="{'active' : marca.nome == filter.marca}"
									ng-click="filterByMarca(marca.nome)"> <span
										class="pull-right">({{marca.totalProdutos}})</span>
										{{marca.nome}}
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Catálogo</h2>
					<div class="row">
						<div class="col-sm-4"
							ng-repeat="produto in produtos | filter:filter |startFrom:currentPage | limitTo:pageSize">
							<a href="#/">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{produto.imagem}}" alt="" />
											<h2>{{produto.precoPromocional}}</h2>
											<p>{{produto.nomeModelo}}</p>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<p>De: R$ {{produto.preco}}</p>
												<h2>Por: R$ {{produto.precoPromocional}}</h2>
												<p>{{produto.nomeModelo}}</p>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<ul class="pagination">
						<li
							ng-repeat="i in getNumber(numberOfPages(doFilter(produtos, filter))) track by $index"
							ng-class="{'active': currentPage == $index}"><a href=""
							ng-click="changePage($index)">{{$index+1}}</a></li>
					</ul>
				</div>
				<!--features_items-->
			</div>
		</div>
	</div>
</section>