<br />
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Categoria</h2>
					<div class="panel-group category-products" id="accordian">
						<!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian"
										href="#botas"> <span class="badge pull-right"><i
											class="fa fa-plus"></i></span> Bolsas
									</a>
								</h4>
							</div>
							<div id="botas" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="">Ankle boots</a></li>
										<li><a href="">Open boot</a></li>
										<li><a href="">Country</a></li>
										<li><a href="">Montaria</a></li>
										<li><a href="">Coturno</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian"
										href="#sapatos"> <span class="badge pull-right"><i
											class="fa fa-plus"></i></span> Sapatos
									</a>
								</h4>
							</div>
							<div id="sapatos" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="">Peep Toe</a></li>
										<li><a href="">Chanel</a></li>
										<li><a href="">Scarpin</a></li>
										<li><a href="">Oxford</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian"
										href="#sandalias"> <span class="badge pull-right"><i
											class="fa fa-plus"></i></span> Sandálias
									</a>
								</h4>
							</div>
							<div id="sandalias" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="">Anabela</a></li>
										<li><a href="">Gladiadora</a></li>
										<li><a href="">Rasteiras</a></li>
										<li><a href="">Salto</a></li>
										<li><a href="">Tamanco</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--/category-productsr-->

					<div class="brands_products">
						<!--brands_products-->
						<h2>Marcas</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<!-- <li><a href=""> <span class="pull-right">(50)</span>Adidas</a></li>
									<li><a href=""> <span class="pull-right">(32)</span>All Star</a></li> -->
								<li><a href=""> <span class="pull-right">(27)</span>Beira
										Rio
								</a></li>
								<!-- <li><a href=""> <span class="pull-right">(32)</span>Bottero</a></li>
									<li><a href=""> <span class="pull-right">(15)</span>Cravo & Canela</a></li> -->
								<li><a href=""> <span class="pull-right">(23)</span>Dakota
								</a></li>
								<!-- <li><a href=""> <span class="pull-right">(20)</span>Havaianas</a></li>
									<li><a href=""> <span class="pull-right">(12)</span>Moleca</a></li>
									<li><a href=""> <span class="pull-right">(39)</span>Picadilly</a></li> -->
								<li><a href=""> <span class="pull-right">(26)</span>Via
										Marte
								</a></li>
								<!-- <li><a href=""> <span class="pull-right">(20)</span>Vizzano</a></li> -->
							</ul>
						</div>
					</div>


				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Lista de Produtos</h2>
					<div class="col-sm-4"
						ng-repeat="produto in produtos | startFrom:currentPage | limitTo:pageSize">
						<a href="#/">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{produto.imagem}}" alt="" />
										<h2>{{produto.precoPromocional}}</h2>
										<p>{{produto.nomeModelo}}</p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>De: R$ {{produto.preco}}</p>
											<h2>Por: R$ {{produto.precoPromocional}}</h2>
											<p>{{produto.nomeModelo}}</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<ul class="pagination">
						<li
							ng-repeat="i in getNumber(numberOfPages(produtos)) track by $index"
							ng-class="{'active': currentPage == $index}"><a href=""
							ng-click="changePage($index)">{{$index+1}}</a></li>
					</ul>
				</div>
				<!--features_items-->
			</div>
		</div>
	</div>
</section>