<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-default pull-right" data-toggle="collapse" data-target="#filtroClientes">
            <span class="glyphicon glyphicon-search"></span>
            Filtro
        </button>
        <h2>Clientes</h2>
    </div>

    <div id="filtroClientes" class="collapse">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="filtroCodigo">Código</label>
                        <input type="text" id="filtroCodigo" class="form-control" placeholder="Código" ng-model="searchId" />
                    </div>
                    <div class="form-group">
                        <label for="filtroNome">Nome</label>
                        <input type="text" id="filtroNome" class="form-control" placeholder="Nome" ng-model="searchNome" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Situação</label>
                        <select class="form-control" ng-model="searchStatus" >
                            <option value="">Ambos</option>
                            <option value="A">Ativo</option>
                            <option value="I">Inativo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filtroCNPJ">CNPJ</label>
                        <input type="text" id="filtroCNPJ" class="form-control" placeholder="CNPJ" ng-model="searchCnpj" />
                    </div>
                </form>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cleanFilter()">Limpar</button>
                    <button type="button" class="btn btn-primary" ng-click="applyFilter()">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="cliente in clientes | filter: search | filterByStatus: statusFilter">
            <h4 class="list-item-heading">
                {{cliente.id}} - {{cliente.nome}}
                <span>
                    <span class="label pull-right" ng-class="getStatusClass('{{cliente.situacao}}')" ng-bind="getSituacaoText(cliente.situacao)"></span>    
                </span>
            </h4>
            <p class="list-group-item-text">
                <small ng-bind="formatCNPJ(cliente.cnpj)"></small>
            </p>
        </a>
    </div>
</div>