

<div class="container">
    <div class="page-header">
        <h2>Bem-vindo a Paqueta</h2>
    </div>

    <div ng-show="ui.error" class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Ops!</strong> Ocorreu um erro no login!
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="login()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome de usuário" ng-model="credentials.username">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Senha" class="form-control" ng-model="credentials.password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>