<div class="container">
	<div class="page-header">
		<h2>Novo Pedido</h2>
	</div>

	<div ng-show="ui.sucesso" class="alert alert-success">
		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		Pedido cadastrado com sucesso
	</div>

	<form id="novo-pedido-form" method="post">

		<div class="page-header">
			<h4>Dados do Representante</h4>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="nome-representante">Nome:</label> <input
					name="nome-representante" id="nome-representante" type="text"
					class="form-control" disabled="disabled"
					ng-model="representante.nome">
			</div>
			<div class="form-group col-md-6">
				<label for="email-representante">Email:</label> <input
					name="email-representante" id="email-representante" type="text"
					class="form-control" disabled="disabled"
					ng-model="representante.email">
			</div>
			<div class="form-group col-md-6">
				<label for="cpf-representante">CPF:</label> <input
					name="cpf-representante" id="cpf-representante" type="text"
					class="form-control" disabled="disabled"
					ng-model="representante.cpf">
			</div>
			<div class="form-group col-md-6">
				<label for="rg-representante">RG:</label> <input
					name="rg-representante" id="rg-representante" type="text"
					class="form-control" disabled="disabled"
					ng-model="representante.rg">
			</div>
		</div>
		<div class="page-header">
			<h4>Dados do Cliente</h4>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label for="endereco">Buscar Cliente</label> <input name="endereco"
					id="endereco" type="text" class="form-control" required="required"
					ng-model="cliente.endereco">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="nome-cliente">Nome:</label> <input name="nome-cliente"
					id="nome-cliente" type="text" class="form-control"
					disabled="disabled" ng-model="cliente.numero">
			</div>
			<div class="form-group col-md-6">
				<label for="cnpj-cliente">CNPJ:</label> <input name="cnpj-cliente"
					id="cnpj-cliente" type="text" class="form-control"
					disabled="disabled" ng-model="cliente.numero">
			</div>
			<div class="form-group col-md-6">
				<label for="telefone-cliente">Telefone:</label> <input
					name="telefone-cliente" id="telefone-cliente" type="text"
					class="form-control" disabled="disabled" ng-model="cliente.numero">
			</div>
			<div class="form-group col-md-6">
				<label for="email-cliente">E-mail:</label> <input
					name="email-cliente" id="email-cliente" type="text"
					class="form-control" disabled="disabled" ng-model="cliente.numero">
			</div>
		</div>
		<div class="page-header">
			<h4>Resumo do Pedido</h4>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="preco-pedido">Preço Total:</label> <input
					name="preco-pedido" id="preco-pedido" type="text"
					class="form-control" disabled="disabled"
					ng-model="precoTotalPedido">
			</div>
			<div class="form-group col-md-4">
				<label for="qtde-pedido">Quantidade de Itens:</label> <input
					name="qtde-pedido" id="qtde-pedido" type="text"
					class="form-control" disabled="disabled"
					ng-model="totalItensPedido">
			</div>
			<div class="form-group col-md-4">
				<label for="data-pedido">Data de Emissão:</label> <input
					name="data-pedido" id="data-pedido" type="date"
					class="form-control" disabled="disabled"
					ng-model="dataPedido">
			</div>
		</div>

		<div class="form-group">
			<div class="pull-right">
				<button type="submit" class="btn main-btn">Realizar
					Pedido</button>
				<a class="btn secundary-btn" href="#/carrinho">Cancelar</a>
			</div>
		</div>
	</form>
</div>