<form id="carrinhoForm" ng-submit="criarPedido()">
	<div class="container">

		<div class="page-header">
			<h2>Produtos Adicionados</h2>
		</div>

		<div ng-show='itens.length <= 0'>
			<div class="page-header">
				<div class="row">
					<h4 class="pull-right">Nenhum item adicionado</h4>
				</div>
			</div>
		</div>

		<div ng-show='itens.length > 0'>
			<div class="page-header">
				<div class="row">
					<h4 class="pull-right">Total de Itens: {{calcularQtdeTotal()}}</h4>
				</div>
				<div class="row">
					<h4 class="pull-right">Total do Pedido: R$ {{calcularTotal()}}</h4>
				</div>
				<div class="row">
					<button type="submit"
						class="btn btn-fefault main-cart-btn pull-right"
						>
						<i class="fa fa-check" /> </i> Realizar Pedido
					</button>
					<button type="button"
						class="btn btn-fefault main-cart-btn pull-right"
						ng-click="limparCarrinho()">
						<i class="fa fa-eraser" /> </i> Limpar Carrinho
					</button>

				</div>
			</div>

			<div class="list-group">
				<div class="list-group-item row"
					ng-repeat="item in itens track by $index">
					<div class="row">
						<div class="col-sm-2">
							<img class="img-responsive img-thumbnail" src="{{item.imagem}}"
								alt="" />
						</div>
						<div class="col-sm-6">
							<h5 class="list-item-heading">Id Produto: {{item.id}}</h5>
							<h3>{{item.nomeModelo}}</h3>
							<h5>Tamanho: {{item.tamanho}} / Cor: {{item.cor}}</h5>
							<h5>
								<s>Preço: R$ {{item.preco}}</s>
							</h5>
							<h5>Preço promocional: R$ {{item.precoPromocional}}</h5>
						</div>
						<div class="col-sm-3">
							<label>Quantidade:</label> <input type="text" ng-change="gravarCarrinho()"
								ng-model="item.quantidade" ng-required="true"
								onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
							<h5>Subtotal: R$ {{calcularSubtotal(item.precoPromocional,
								item.quantidade)}}</h5>
							<button type="button" class="btn btn-fefault remove-cart"
								ng-click="removerItem(item)">
								<i class="fa fa-times" /> </i> Remover
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="submit"
						class="btn btn-fefault main-cart-btn pull-right"
						ng-click="criarPedido()">
						<i class="fa fa-check" /> </i> Realizar Pedido
					</button>
					<button type="button"
						class="btn btn-fefault main-cart-btn pull-right"
						ng-click="limparCarrinho()">
						<i class="fa fa-eraser" /> </i> Limpar Carrinho
					</button>

				</div>
			</div>
		</div>
	</div>
</form>